<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>  
            <filter-name>DruidWebStatFilter</filter-name>  
            <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>  
            <init-param>  
                <param-name>exclusions</param-name>  
                <param-value>/static/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>  
            </init-param>  
            <init-param>
				<param-name>profileEnable</param-name>
				<param-value>true</param-value>
			</init-param>
        </filter>  
        <filter-mapping>  
            <filter-name>DruidWebStatFilter</filter-name>  
            <url-pattern>/*</url-pattern>  
        </filter-mapping>  

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 以过滤器的方式整合进shiro框架 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- targetBeanName值和spring的shiro的配置文件中bean的id值一致 -->
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>shiroFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<!-- 访问任何url都会被shiro的过滤器过滤 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--druid监控页面 -->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <init-param>
            <!-- 不允许清空统计数据 -->
            <param-name>resetEnable</param-name>
            <param-value>false</param-value>
        </init-param>
         <!-- <init-param>
            用户名
            <param-name>loginUsername</param-name>
            <param-value>user</param-value>
        </init-param>
        <init-param>
            密码
            <param-name>loginPassword</param-name>
            <param-value>user</param-value>
        </init-param> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>
    <!--druid监控页面 -->

	<!-- 404 数据不存在 -->
	<error-page>
		<error-code>400</error-code>
		<location>/404.html</location>
	</error-page>

	<!-- 404 页面找不到 -->
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<!-- 500 服务器内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>

</web-app>